:root {
  --back-gray: #bdbfc7;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--back-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
